@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

html,body{
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
}
/*NAVBAR*/
.nav{
    
    display: flex;
    align-items: center;
   
    background: #505050;
    
}
.nav-superior{
    background: #505050;;
}
.nav .nav-item a{
    color:white;
    font-size: 12px;
}
.nav .nav-item a i{
    color:#FF8740;
    margin-right: 10px;
    font-size: 15px;
}
.sola{
    font-weight: 600;
    font-size: 35px;
    color:#FF8740;
}
.nav-social{
    display: flex;
    list-style: none;
    
    
}
.nav-social li{
    margin-right: 15px;
}
.nav-social li a{
    text-decoration: none;
    
}
.nav-social li a i{
    color: #9B9B9B;
    
}
.btn-outline{
    border: 1px solid #FF8740;
    border-radius: 20px;
    color: #FF8740;
}
.navbar li{
    margin-right: 25px;
}
/*CARUSEL*/
.carousel-caption{
    border: 2px solid black;
    top:30%;
    height: 200px;
    background: red;
    color: white;

}
/*RESPONSIVE*/
@media(max-width:576px){
    body{
        background:blueviolet;
    }
    .nav{
    
        text-align: start;
        margin-top: 0;    
    }
    .nav li{
        margin-bottom: -12px;
    }
    .nav-social{
        margin-bottom: 17px;
        margin-top: 5px;
        width: 100%;
        justify-content: space-between;
        
    }
    
}
@media(max-width:768px){
    body{
        background:orange;
    }
    .nav-social{
        margin-left: 0;
    }
    
}
@media(max-width:992px){
    body{
        background:green;
    }
}

@media(max-width:1200px){
    body{
        background:red;
    }
}



